.first-div{
    width : 500px;
    height : 500px;
    background-color: rgb(87, 192, 87);
    border-width: 3px;
    border-color: purple;
    border-radius: 20%;
    margin: 10px;
    padding: 5px;
    border-style: solid;

    display: flex;
    justify-items: centre;
    align-items: centre;
    text-align: centre;
    padding-left:20px;


}
.normal-para{
    color: white;

}
#fav-para{
    color: blue;
}